body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.display{
    display: flex;
}
.width{
    width: 50%;
    margin-left: 10%;
}
.width img{
    width: 75%;
}
.vertical{
    padding-left: 15px;
    border-left: 5px solid;
    border-color: tomato;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
#head{
    text-align: center;
}