body{
    font-family: 'Roboto Condensed', sans-serif;
}
h1{
    font-size: 50px;
}
.orange{
    color: orange;
}
.tomato{
    color: tomato;
}
.display{
    display: flex;
}
.vertical{
    padding-left: 15px;
    border-left: 5px solid;
    border-color: tomato;
}
.link-button{
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
}
.headline{
    text-align: center;
}
.black{
    background-color:black;
    color: white;
    text-align: center;
    padding: 40px;
}
.box{
    padding: 20px;
    border-radius: 20px;
}
.box img{
    width: 40%;
}
.width{
    width: 55%;
}
.width2{
    width: 45%;
}
.width2 img{
    width: 100%;
}
.width3{
    width: 80%;
}
.width4{
    width: 40%;
}
.width4 img{
    width: 90%;
}
.width5{
    width: 45%;
}
.width6{
    width: 50%;
}
.width6 img{
    width: 110%;
}
.margin{
    margin-left: 10%;
    margin-right: 10%;
}
.margin2{
    margin: 5%;
}
.margin3{
    margin-left: 2%;
    margin-right: 2%;
}
.color1{
    background-color: linen; 
}
.color2{
    background-color: rgb(224, 222, 222);
}
.color3{
    background-color:lightgoldenrodyellow;
}
.left{
    margin-left: 10%;
}
.right{
    margin-right: 10%;
}
.top{
    margin-top: 10%;
}
.top2{
    margin-top: 7%;
}
.bottom{
    font-size: 15px;
}